.user{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.navbar-brand img{
    height: 40px;
}
.navbar{
    background-color: #fff !important;
    /* border-bottom: 1px solid #22eaaa; */
}
.nav-link{
    color: #000 !important;
    font-size: 17px;
    text-transform: capitalize;
    opacity: .88;
    letter-spacing: 1px;
}