.user{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.navbar-brand img{
    height: 60px; 
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 42px;
    
}
.navbar{
    background-color: #fff !important;
    
}
.nav-link{
    color:#244263 !important;
    font-size: 17px;
    text-transform: capitalize;
    letter-spacing: 1px;

}
.nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background-color: #E7272D;
    transition: all ease-in .3s;
}
.nav-link:hover::after{
    width: 100%;
    transition:all ease-in .3s;
}